# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Environment / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Node
node_modules/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp